<div class="container">
  <label class="label">Buscar Producto: </label>
  <input class="search-bar" type="text" name="searchBox" [(ngModel)]="searchData" (keyup)="getFileteredProducts()">

  <div *ngIf="productos$ | async as productos; else noProductos">
    <div class="productos-grid">
      <div *ngFor="let producto of productos" class="row">
        <app-card  class="imagecard"
          [title]="recortarTitulo(producto.title, 35)" 
          [imageUrl]="producto.image"
          [price]="(producto.price | currency:'$':'symbol':'1.2-2') ?? ''"
          [producto]="producto"
          [list]="filteredData" *ngIf="searchData==''">
        </app-card>
        
      </div>
    </div>
  </div>
  <ng-template #noProductos>
    <div class="no-productos">
      <p>No hay productos disponibles.</p>
    </div>
  </ng-template>
</div>
<!--                                                  
<pre>
  {{ productos$ | async | json }}
</pre> -->

 